.mail-list {
  opacity: 0.8;
  grid-area: main;
  background-color: #ffffff;

  margin-top: 8px;
  border-radius: 10px;

  padding: 0;
  list-style: none;

  li {
    .mail-main {
      display: flex;
      flex-direction: row;
    }
    .hollow-star {
      width: 16px;
      height: 14px;
      fill: none;
      stroke: rgb(32, 33, 36);
      stroke-width: 2;
      stroke-linejoin: round;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.mail-row {
  display: flex;
  position: relative;
  height: 20px;

  padding: 10px 0;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 14px;
  color: #202124;

  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
  text-align: start;
  align-items: center;
  &.mail-read {
    background-color: rgba(0, 0, 0, 0.09);
  }
}

.mail-row span {
  display: block;
  margin-inline-start: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.mail-subject {
  /* background-color: pink; */
  padding-inline-start: 30px;

  padding-inline-end: 2px;
}
.mail-body {
  padding-inline-start: 2px;
  width: min-content;
  overflow: hidden;
}

.mail-sender {
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
}

.mail-row:hover {
  box-shadow: 0px 1px 8px rgb(215, 215, 215);
  border: 0.2px solid rgb(215, 215, 215);
}

.mail-actions {
  display: flex;
  justify-self: end;
  padding-inline: 8px;
  margin-left: auto;
}

.btn-row-mail {
  gap: 8px;
  padding: 4px;
  align-self: flex-end;
  justify-self: end;
  display: flex;
}
