.mail-index {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: 3rem auto 1rem;

  grid-template-areas:
    "header header header"
    ". main ."
    ". footer . ";

  /* justify-content: stretch;
  justify-items: stretch; */

  footer {
    grid-area: footer;
    display: flex;
    padding-block-end: 2em;
    /* justify-content: stretch; */
    background-color: lightcoral;
  }
}
