.mail-index {
  /* position: relative; */
  /* z-index: 0; */

  display: grid;
  grid-template-columns: 100fr 90vw 1fr;
  grid-template-rows: 3.5rem auto 1rem;

  grid-template-areas:
    "header header header"
    "left main ."
    ". footer . ";


  .mail-bg {
    position: fixed;
    inset: 0;
    z-index: -1; 
    opacity: 0.95;
  }

  .mail-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    grid-area: footer;
    display: flex;
    padding-block-end: 2em;
    background-color: yellow;

  }
}