/* added */
* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Google Sans", "Roboto", arial, sans-serif;
  background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/themes/beach2/bg_sun_1680x1050.jpg');

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}