.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--bg1);
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.icon {
    height: 24px;
    width: 24px;
}

.nav-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 10px;
}